version: "3.8"

services:
    app:
        build: .
        container_name: app
        depends_on:
            - database
        ports:
            - 8080:8080
        volumes:
            - ./assets:/app/assets
        env_file:
            - .env

    symbols:
        build: .
        container_name: symbols
        depends_on:
            - database
        env_file:
            - .env
        volumes:
            - ./assets:/assets
        command: ./wait-for-db.sh ./trading-platform symbols /app/assets/test.csv

    database:
        image: "postgres"
        container_name: database
        env_file:
            - .env
        volumes:
            - ./volume/postgres:/var/lib/postgresql/data/
        ports: 
            - 5432:5432