version: "3.8"

services:
    app:
        build: .
        container_name: app
        depends_on:
            - database
        ports:
            - 8080:8080
        env_file:
            - .env

    database:
        image: "postgres"
        container_name: database
        env_file:
            - .env
        volumes:
            - ./volume/postgres:/var/lib/postgresql/data/
        ports: 
            - 5432:5432