name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set outputs
      id: vars
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
   
    - name: Test set output
      run: echo ${{ steps.vars.outputs.sha_short }}
        
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag serbanblebea:${{ steps.vars.outputs.sha_short }}
      
    - name: Docker Push
      uses: opspresso/action-docker@v0.4.0
      env:
          USERNAME: ${{ secrets.DOCKER_USERNAME }}
          PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          IMAGE_NAME: serbanblebea
          TAG_NAME: ${{ steps.vars.outputs.sha_short }}
